:root {
  --color-primary: 171, 66%, 44%;
  --color-primary-dark: 171, 66%, 24%;

  --color-secondary: 233, 100%, 69%;
  --color-secondary-dark: 233, 100%, 49%;

  --color-text-black: 210, 10%, 33%;
  --color-text-grey: 201, 11%, 66%;
  --color-text-grey-light: 201, 11%, 90%;

  --fs-text: 1.8rem;

  --fw-regular: 400;
  --fw-semibold: 600;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Heading */
.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: hsl(var(--color-text-black));
  font-weight: var(--fw-semibold);
}

.heading-primary {
  font-size: 4.4rem;
  margin-bottom: 2rem;
}

.heading-secondary {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

.heading-tertiary {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.heading-text {
  color: hsl(var(--color-text-grey));
  line-height: 1.8;
  font-size: var(--fs-text);
}

.heading:has(.heading-primary, .heading-secondary) {
  width: 60%;
  text-align: center;
}

/* CTA */
.ctas {
  display: flex;
  gap: 2rem;
}

.cta,
.cta:link {
  display: inline-block;
  font-size: var(--fs-text);
  font-weight: var(--fw-regular);
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border: none;
  border-radius: 1000px;

  transition: all 0.2s;

  cursor: pointer;
}

.cta:hover {
  transform: translateY(-5px);
  filter: brightness(115%);
}

.cta:active {
  transform: translateY(1px);
  filter: brightness(100%);
}

.cta--ios {
  background-color: hsl(var(--color-primary));
  box-shadow: 0 3px 3px 0 hsl(var(--color-primary-dark));
}

.cta--ios:is(:hover) {
  box-shadow: 0 3px 10px 0 hsl(var(--color-primary-dark));
}

.cta--mac {
  background-color: hsl(var(--color-secondary));
  box-shadow: 0 3px 3px 0 hsl(var(--color-secondary-dark));
}

.cta--mac:is(:hover) {
  box-shadow: 0 3px 10px 0 hsl(var(--color-secondary-dark));
}

/* Header */
.hero {
  padding: 12rem 0;
  background-image: url(./images/bg-header-desktop.png);
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.hero-logo {
  width: 12rem;
  height: 12rem;
}

/* Computer */
.section-computer {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}

.computer {
  display: flex;
  align-items: center;
}

.computer-img {
  flex-basis: 50%;

  & img {
    max-width: 100%;
    height: auto;
  }
}

.computer-features {
  flex-basis: 50%;
  padding: 8rem;

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* Device */
.section-device {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}

.device-img {
  & img {
    max-width: 100%;
    height: auto;
  }
}

/* Feature */
.section-feature {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}

.features {
  text-align: center;
  padding: 0 10rem;
  display: flex;
  align-items: start;
  justify-content: center;

  gap: 3rem;

  & > * {
    flex-basis: 30%;
  }
}

.feature-icon {
  height: 3rem;
  margin-bottom: 3rem;

  & img {
    height: 100%;
    width: auto;
  }
}

/* Logo */
.section-logo {
  padding: 15rem 10rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5rem;

  & img {
    width: 100%;
  }
}

/* Download */
.section-download {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}

/* Footer */
.footer {
  padding: 5rem 10rem;
  color: hsl(var(--color-text-black));
  background-color: hsl(var(--color-text-grey-light));

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.footer-logo {
  width: 6rem;
  height: 6rem;

  & img {
    width: 100%;
    height: auto;
  }
}

.footer-details {
  font-size: var(--fs-text);
  font-weight: var(--fw-regular);

  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 20rem));
  justify-content: center;
  row-gap: 2rem;
}

.footer-link:is(:link, :visited) {
  display: block;
  font-size: var(--fs-text);
  color: inherit;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s;
}

.footer-link:is(:hover, :active) {
  color: hsl(var(--color-primary));
}

.social-links {
  display: flex;
  gap: 4rem;
}

.social-link:is(:link, :visited) {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  & svg {
    fill: #4c545c;
    transition: all 0.2s;
  }
}

.social-link:is(:hover, :active) {
  & svg {
    fill: hsl(var(--color-primary));
  }
}

@media screen and (max-width: 1100px) {
  .hero {
    padding: 10rem 0;
  }

  .computer-features {
    padding: 6rem;
  }

  .section-logo {
    padding: 15rem 5rem;
    margin: 0 auto;
  }

  .footer {
    padding: 5rem 8rem;
  }
}

@media screen and (max-width: 800px) {
  .ctas {
    flex-direction: column;
    width: 60%;
  }

  .computer {
    flex-direction: column;
    text-align: center;
  }

  .computer-img {
    & img {
      width: 80%;
    }
  }

  .features {
    flex-direction: column;
    align-items: center;
  }

  .section-logo {
    flex-direction: column;
    gap: 10rem;
  }

  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
}
